<style>
.blog-license {
  color: #999;
  font-size: 15px;
}

.blog-license a {
  color: #8C8D8E;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-license:before {
  content: "📝:";
}

.blog-license a:hover {
  border-radius: 2px;
  color: rgb(81, 81, 82);
  background-color: #CCC;
}

.post-preview .blog-license {
  margin-top: 5px;
  margin-bottom: 0;
}
/* --- Tags --- */

.blog-reachabilities {
  color: #999;
  font-size: 15px;
}

/* .blog-reachabilities:before {
   content: "Tags: "; 
} */

.blog-reachabilities a {
  color: #8C8D8E;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-reachabilities a:before {
  content: "🚆";
}

.blog-reachabilities a:hover {
  border-radius: 2px;
  color: rgb(81, 81, 82);
  background-color: #CCC;
}

.post-preview .blog-reachabilities {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-reachabilities {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {

  .post-image,
  .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}

/* --- Tags --- */

.blog-locations {
  color: #999;
  font-size: 15px;
}

/* .blog-locations:before {
   content: "Tags: "; 
} */

.blog-locations a {
  color: #8C8D8E;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-locations a:before {
  content: "📍";
}

.blog-locations a:hover {
  border-radius: 2px;
  color: rgb(81, 81, 82);
  background-color: #CCC;
}

.post-preview .blog-locations {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-locations {
    margin-top: 10px;
  }
}

</style>